/* borkhalenko.freedomain.thehost.com.ua/service/ */
html, body {
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
}
#container{
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	border: solid 1px blue;
}
#location{
	position:absolute;
	top: 5%;
	left:7%;
	z-index: 2;
}
